<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rean</title>
        <meta http-equiv="refresh" content="0; URL='https://discord.com/api/oauth2/authorize?client_id=1160559569240588318&permissions=8&scope=bot%20applications.commands'" />
</head>
</html>